html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* NAVIGATION: */
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: black;
  padding: 10px 20px;
}

.main-nav li a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
}

.main-nav li a:hover {
  color: blueviolet;
}

/* HEADER: */
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 0 0 30px;
  min-height: 100vh;
  background-image: url("./images/planet-volumes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-header h1 {
  font-weight: bold;
  font-size: 33px;
}

.main-header p {
  margin: 15px 0;
}

.main-header a {
  color: white;
  font-weight: bold;
}

.main-header a:hover {
  color: blueviolet;
}

/* PROJECTS: */
.main-projects {
  min-height: 100vh;
}

.main-projects h2 {
  font-weight: bold;
  font-size: 26px;
  margin: 30px 0 30px 30px;
}

.main-projects .card-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-projects .card-container .card {
  border-radius: 8px;
  width: 250px;
  height: 500px;
  margin: 10px;
}

.main-projects .card-container .card div {
  height: 50%;
}

.main-projects .card-container .card .card-img-1 {
  background-image: url("./images/christian-wiediger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0 0;
}

.main-projects .card-container .card .card-img-1:hover {
  filter: grayscale(100%);
}

.main-projects .card-container .card .card-img-2 {
  background-image: url("./images/tianyi-ma.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0 0;
}

.main-projects .card-container .card .card-img-2:hover {
  filter: grayscale(100%);
}

.main-projects .card-container .card .card-info {
  background-color: black;
  color: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 6px 6px;
}

.main-projects .card-container .card .card-info h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.main-projects .card-container .card .card-info p {
  margin: 10px 0;
}

.main-projects .card-container .card .card-info a {
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.main-projects .card-container .card .card-info a:hover {
  color: blueviolet;
}

/* ABOUT: */
.main-about {
  min-height: 80vh;
  background-color: black;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-about h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

.main-about p {
  margin: 30px 0;
}

/* GREETING AREA: */
.greeting-area {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-area h2 {
  font-size: 60px;
  font-weight: bold;
}

/* FOOTER / CONTACT: */
.main-footer {
  min-height: 50vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer a {
  padding: 5px;
  margin: 10px 30px;
  font-size: 90px;
  color: white;
}

.main-footer a:hover {
  color: blueviolet;
}
