h1 {
  color: purple;
  font-family: sans-serif;
}

p {
  color: blue;
  font-size: 20px;
  border: 3px solid blue;
}

a {
  font-weight: bold;
  text-decoration: none;
}

img {
  border: 3px solid grey;
  width: 100%;
}
